body{
    background-color: #202462;
}
li{
   

     list-style: none;
     padding: 13px;
}
.active{
    color: white;
}

li a{
 color: #51c8fc;
 font-size: 18px;
 font-family: Verdana, Geneva, Tahoma, sans-serif

 
}
header{
    float: left;
}
.name{
    color: #51c8fc;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.circular--square {
    /* height:400px;
    height: 400px; */
     border-radius: 50%;
     opacity: 0.5;
  }

  .img-container-block {
      margin-top: 60px;
    text-align: center;
   
  }
  .mydescr{
      float: right;
      clear: both;
  }
  a:link {
    text-decoration: none;
  }
nav ul li a:hover{
    color: white;

}
pre{
    display: block;
}

blockquote{
    opacity: 0.5;
    font-size: 1.4em;
    width:40%;
    margin:50px auto;
    font-family:Open Sans;
    font-style:italic;
    color: #555555;
    padding:1.2em 30px 1.2em 75px;
    border-left:8px solid #78C0A8 ;
    line-height:1.6;
    position: relative;
    background:#EDEDED;
  }
  
  blockquote::before{
    font-family:Arial;
    content: "\201C";
    color:#78C0A8;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
  }
  
  blockquote::after{
    content: '';
  }
  
  blockquote span{
    display:block;
    color:#333333;
    font-style: normal;
    font-weight: bold;
    margin-top:1em;
  }

  .knowNot{
    text-align: center;
   


  }
  .knowAboutDesc{
      text-align: center;
  }
  .knowAbout{
      text-align: center;
      display: flex;
      margin: 0 auto;
  }

  .education, .experience, .skills, .interests_hobbies, .whyCode{
    display : inline-flex;
      padding: 20px;
    flex-direction: row;
    margin: 0 auto;
  }
h2{
    color:#51c8fc;
    font-size: 29px;
 
}
.aboutUser{
    color: white;
}
  .knowNot p{
    font-size: 27px;
    color: white;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    width: 60%;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 20px;
  }
    
.portfolioPar{
    float: right;

}
/* .clicker1:focus + .myeducation{
    display:block;
    clear: both;
    } */
.myeducation{
    display:none;
    }      

.clicker:focus + .myeducation{
    display:block;
    flex-direction: column;
    }

.knowAboutImages{
  opacity: 0.5;
}
.knowAboutImages1{
  opacity: 0.5;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  
}
#aboutHeadings{ 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26px;
  color : #51c8fc;


}
.Things{
  margin: 40px;
}

main {
  min-width: 300px;
  max-width: 500px;

}

main p {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color:  fff;
  
}
  main p:before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 1.25em;
    width: 1.25em;
    background-color:  #34435E;
    text-align: center;
    line-height: 1.25em;
    color: #ffffff;
    font-size: 1em;
  }
main p:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
}
main p:nth-child(odd):before {
    left: 100%; 
    margin-left: -20px;

}

main p:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
}
main p:nth-child(even):before {
    right: 100%; 
    margin-right: -20px;
  }

main p:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}
main p:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
main p span:last-child{
  font-size: 22px;
  color:#51c8fc;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main p span:first-child{
  font-size: 22px;
  color: green;
font-style: oblique;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
